body{
    color: white;
    background-color: black;
    background-position: right;
}

.div2{
    padding-left: 200px;
}

table{
    width: 50px;
    border-collapse: collapse;
    text-align: center;
}
tr:nth-child(odd){
    background-color: #333;
    color: #fff;
}
tr:nth-child(even){
    background-color: red;
    color: #fff;
}
tr:hover:nth-child(even){
    background-color: green;  
}

.table td:hover{
    background-color: purple;
}
.table{
    padding-left: 600px;
    margin-top: 70px;
}
